.bloco-dois{
    margin-top: 50px;
}

.bloco-tois{
    margin-top: 30px;
}

.img-rodapé{
    width: 400px;
}

footer{ 
    padding: 20px 0;
    background-color: yellow;
    border: tomato;
}